body{
    background-color:#FFE773;
    font-family: monospace;
}
body p{
    font-size: 17;
}
h1{
    text-align: center;
    border: blue 4px dashed;
}
img{
    border: red 4px double;
    width: 700;
    height: 450;
    justify-content: center;
    display: block;
    margin: auto;
}
a{
    color: black;
     border: 3px orange solid;
    text-decoration: none;
    padding: 3px;
    border-radius: 20%
}
main p{
    padding: 5px;
    border: #FF7640	 2px dashed;
    text-align: center;
    box-shadow: 10px 5px 5px;
}





    
