body{
    background-color:#FFE773;
    font-family: monospace;
}
body p{
    font-size: 17;
}
h1{
    text-align: center;
    border: blue 4px dashed;
    box-shadow: 5px 5px;
}
img{
    border: red 4px double;
    width: 700;
    height: 450;
    justify-content: center;
    display: block;
    margin: auto;
     opacity: 0;
    
}
img:hover{
    opacity: 1;
    width: 75%;
    height: 75%;
    transition: all 5s linear;
    
}
a{
    color: black;
     border: 3px orange solid;
    text-decoration: none;
    padding: 3px;
    border-radius: 20%
}
main p{
    padding: 5px;
}
