body{
    background-color:#FFE773;
    font-family: monospace;
}
body p{
    font-size: 24;
}
h1{
    text-align: center;
    border: blue 4px dashed;
    font-size: 35px;
}

h1:hover{
    text-shadow: 5px  5px darkorange;
    font-size: 50px;
    transition: all 2s linear;
}

img{
    border: red 4px double;
    width: 700;
    height: 450;
    justify-content: center;
    display: block;
    margin: auto;
}  
img{
    opacity: 0;
    width: 50%;
    height: 50%;
}
img:hover{
    opacity: 1;
    width: 75%;
    height: 75%;
    transition: all 5s linear;
    
} 

main p{
    margin:1px;
    padding: 5px;
    text-align: left;
}




    
    
