 body{
        background-color:#FFB840;
    font-family:monospace;
    }
     body p{
        font-size: 30;
    
    }
     h1{
        text-align: center;
        border: blue 4px dashed;
       }
        img{
        border: #235B79 3px double;
        width: 500;
        height: 300;
        display: block;
        margin: auto;
       }
    a{
        color:black;
    }
    main p{
        padding: 5px;
        border:  #FF5D40 2px dashed;
        text-align: center;
        box-shadow: 10px 5px 5px #BF5938; 
    }
    
    
    
    
   
    
        
        
        
    
